.parent {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(75, 74, 74));
  height: 100vh;
  overflow: hidden;
}
.veginp {
  border-radius: 5px;
}
.cookie {
  color: white;
}
.footer {
  bottom: 0;
  height: 7vh;
  background-color: rgba(88, 88, 183, 0.401);
  color: white;
}
.header {
  height: 7vh;
  background-color: rgba(88, 88, 183, 0.401);
}
.vegetable_heading {
  color: white;
}
